.background {
    -fx-background-color: derive(#75c1e5, 20%);
    background-color: white; 
}

/**
* asciidoc classes
*/
.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #555555;
    -fx-opacity: 0.9;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: black;
    -fx-opacity: 1;
}

.label-bright-header {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: black;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: black;
    -fx-opacity: 1;
}

/**
* tab bar
*/

.jfx-tab-pane .tab-header-background {
    -fx-background-color: #00BCD4;
}

.pane-with-border {
     -fx-background-color: white;
     -fx-border-color: white;
     -fx-border-top-width: 1px;
}

.split-pane:horizontal .split-pane-divider, .split-pane:vertical .split-pane-divider {
    -fx-background-color: derive(#ededed, 20%);
    -fx-border-color: transparent transparent transparent #4d4d4d;
}

.split-pane {
    -fx-border-radius: 1;
    -fx-border-width: 1;
    -fx-background-color: derive(#ededed, 20%);
}

.list-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-color: derive(#ededed, 20%);
}

.list-cell {
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap : 0;
    -fx-padding: 0 0 0 0;
}

.list-cell:filled:even {
    -fx-background-color: #c7e3e8;
    -fx-text-fill: white;
}

.list-cell:filled:odd {
    -fx-background-color: #e0f4ff;
}

.list-cell:filled:selected {
    -fx-background-color: #abcbdb;
}

.list-cell:filled:selected #cardPane #cardViewPane {
    -fx-border-color: #abcbdb; 
    -fx-border-width: 1;
}

.list-cell .label {
    -fx-text-fill: black;
}

.cell_big_label {
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 16px;
    -fx-text-fill: #010504;
}

.cell_small_label {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 13px;
    -fx-text-fill: #010504;
}

.stack-pane {
     -fx-background-color: derive(#ededed, 20%);
}

.hbox {
    -fx-background-color: derive(#0ebed6, 20%);
}

.hbox-light {
    -fx-background-color: derive(#0ebed6, 30%);
}

.status-bar {
    -fx-background-color: derive(#0ebed6, 20%);
    -fx-text-fill: white;
}

.result-display {
    -fx-background-color: #e0dbd0;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 13pt;
    -fx-text-fill: black;
}

.result-display .label {
    -fx-text-fill: white !important;
}

.status-bar .label {
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
}

.status-bar-with-border {
    -fx-background-color: derive(#00BCD4, 30%);
    -fx-border-color: derive(#00BCD4, 25%);
    -fx-border-width: 1px;
}

.status-bar-with-border .label {
    -fx-text-fill: white;
}

.grid-pane {
    -fx-background-color: #00BCD4;
    -fx-border-color: derive(#00BCD4, 30%);
    -fx-border-width: 1px;
}

.grid-pane .stack-pane {
    -fx-background-color: #00BCD4;
}

.context-menu {
    -fx-background-color: derive(#00BCD4, 50%);
}

.context-menu .label {
    -fx-text-fill: black;
}

.menu-bar {
    -fx-background-color: #28b9cc;
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: white;
}

/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #ededed;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #3a3a3a;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: black;
  -fx-text-fill: #ededed;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #ededed;
    -fx-text-fill: black;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color, 30%);
}

.dialog-pane {
    -fx-background-color: #ededed;
}

.dialog-pane > *.button-bar > *.container {
    -fx-background-color: #ededed;
}

.dialog-pane > *.label.content {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

.dialog-pane:header *.header-panel {
    -fx-background-color: derive(#ededed, 25%);
}

.dialog-pane:header *.header-panel *.label {
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: black;
    -fx-text-fill: black;
}

.scroll-bar {
    -fx-background-color: derive(#ededed, 20%);
}

.scroll-bar .thumb {
    -fx-background-color: derive(#ededed, 50%);
    -fx-background-insets: 3;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 8 1 8;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 1 8 1;
}
/**
additional 3VIA-specific css code  
*/

.import-help-display {
    -fx-background-color: transparent;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 13pt;
    -fx-text-fill: white;
}

.import-help-display .label {
    -fx-text-fill: black !important;
}

#ImportHelpDisplay .content {
    -fx-background-color: transparent, #383838, transparent, #383838;
    -fx-background-radius: 0;
}

#cardInfoAnswer .content {
    -fx-background-color: derive(#e0f3ff, 30%);
    -fx-border-color: derive(#e0f3ff, 30%);
}

#cardInfoAnswer {
    -fx-background-color: derive(#e0f3ff, 30%);
    -fx-text-inner-color: black;
    -fx-font-family: "Segoe UI Semibold";
    -fx-opacity: 1;
    -fx-font-size: 11pt;
}

#cardPane #cardViewPane {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}


#commandTypeLabel {
    -fx-font-size: 11px;
    -fx-text-fill: #F70D1A;
}

#commandTextField {
    -fx-background-color: transparent #ffd6d6 transparent #ffd6d6;
    -fx-background-insets: 0;
    -fx-border-color: #ffd6d6 #ffd6d6 #ffffff #ffd6d6;
    -fx-border-insets: 0;
    -fx-border-width: 1;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 13pt;
    -fx-text-fill: black;
}

#filterField, #personListPanel, #personWebpage {
    -fx-effect: innershadow(gaussian, white, 10, 0, 0, 0);
}

#resultDisplay .content {
    -fx-background-color: transparent, #e8e8e8, transparent, #e8e8e8;
    -fx-background-radius: 0;
}

#tags, #topics, #cardInfoTopics {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#cardProgress {
    -fx-accent: green;
}

#cardProgress .bar {
    -fx-background-insets: 0;
}

#cardProgress > .track {
    -fx-control-inner-background: red;
    -fx-background-insets: 0;
}

#tags .label, #topics .label, #cardInfoTopics .label {
    -fx-text-fill: black;
    -fx-background-color: #e8cc86;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
}
